# =========================================
# Gradle & Build Artifacts
# =========================================
# Gradle 캐시 및 빌드 관련 파일
.gradle
build/

# 빌드된 결과물 (Jar, War 등)
*.jar
*.war
*.ear

# 로그 파일
*.log


# =========================================
# IDE (IntelliJ, VS Code, STS/Eclipse)
# =========================================
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/


# =========================================
# OS (Mac, Windows, Linux)
# =========================================
# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# 로컬 설정 파일 제외
application-local.properties
application-local.yml
